<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- This file adds Gazebo-specific friction properties to the gripper links -->
  <xacro:macro name="gripper_gazebo_friction" params="prefix">
    
    <!-- Add friction properties to the gripper links -->
    <gazebo reference="${prefix}gripper_left1">
      <mu1>5.0</mu1>
      <mu2>5.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>0.01</maxVel>
      <material>Gazebo/Grey</material>
    </gazebo>
    
    <gazebo reference="${prefix}gripper_left2">
      <mu1>5.0</mu1>
      <mu2>5.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>0.01</maxVel>
      <material>Gazebo/Grey</material>
    </gazebo>
    
    <gazebo reference="${prefix}gripper_left3">
      <mu1>5.0</mu1>
      <mu2>5.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>0.01</maxVel>
      <material>Gazebo/Grey</material>
    </gazebo>
    
    <gazebo reference="${prefix}gripper_right1">
      <mu1>5.0</mu1>
      <mu2>5.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>0.01</maxVel>
      <material>Gazebo/Grey</material>
    </gazebo>
    
    <gazebo reference="${prefix}gripper_right2">
      <mu1>5.0</mu1>
      <mu2>5.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>0.01</maxVel>
      <material>Gazebo/Grey</material>
    </gazebo>
    
    <gazebo reference="${prefix}gripper_right3">
      <mu1>5.0</mu1>
      <mu2>5.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>0.01</maxVel>
      <material>Gazebo/Grey</material>
    </gazebo>
    
  </xacro:macro>
</robot>
